[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
autopep8 = "*"
python-dotenv = "*"
flask-cors = "*"
pymongo = "*"
validators = "*"
phonenumbers = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.10"
